*{
    font-family: 'Press Start 2P', cursive;
}
.play-btn{
    background-color: yellow;
    font-size: 15px;
    padding: 15px 30px;
    cursor: pointer;
    border-color: #400d0d;
    border-radius: 5px;
    caret-color: #ff0000;
}
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*khungcanvas gameover*/
#myCanvas{
    margin-left: 27%;
}
/*căn lề canvas*/